body {
    background-color: rgb(255, 219, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(172, 125, 172);
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #9c1c80;
    background-color: rgb(241, 196, 255);
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #ca72b0;
    outline: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #ca72b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #f373de;
}

.boton {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: rgb(255, 187, 229);
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.boton a {
    color: white;
    text-decoration: none;
    display: block;
}

.boton:hover {
    background-color: rgb(255, 137, 200);
}

#weather {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #9c1c80;
    background-color: rgb(241, 196, 255);
    border-radius: 5px;
    text-align: center;
}

#weather h2 {
    margin-top: 0;
}

#weather p {
    font-size: 18px;
    color: #333;
}