    /* Estilos generales */
    
    body {
        font-family: Arial;
        background-color: rgb(225, 243, 145);
        background-size: cover;
    }
    
    header {
        background-color: green;
        color: white;
        padding: 20px;
    }
    
    h2 {
        font-size: 30px;
        color: white;
        padding: 20px;
        background-color: rgb(111, 216, 111);
    }
    
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px
    }
    
    .p {
        font-weight: bold;
    }
    
    button {
        background-color: rgb(108, 197, 108);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 20px;
    }